.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: rgb(15, 13, 13);
    padding: 20px;
    animation: mymove 5s infinite;
    border-radius: 2vw;
  }
  
  .grid-container > div {
    background-color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
    border-radius: 1.5vw;
  }
  
  @keyframes mymove {
    20% {grid-template-columns: auto}
    40% {grid-template-columns: auto auto}
    50% {grid-template-columns: auto auto auto;}
    60% {grid-template-columns: auto auto}
    80% {grid-template-columns: auto}
  }